<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> API.</p>
    <h3>Avaiable Routes:</h3>
    <p><b>/admins</b> - Admin routes</p>
    <p><b>/responsibles</b> - Responsibles routes</p>
    <p><b>/resumes</b> - Resumes routes</p>
    <p><b>/students</b> - Students routes</p>
    <p><b>/subjects</b> - Subjects routes</p>
    <p><b>/teachers</b> - Teachers routes</p>
    <p><b>/teams</b> - Teams routes</p>
  </body>
</html>
